@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <img src="https://i.imgur.com/GUo4B8C.png" alt="Mô tả về hình ảnh" class="img-fluid" />
    </div>
</div>
